node_modules/
build/
temp/
.env
ormconfig.json
coverage/
data/
!src/dtos/
!tests/dtos/
globalConfig.json
tmp/*
!tmp/.gitkeep
yarn-error.log
package.lock
dist/
.build/
tmp/
uploads

__snapshots__/schema/schema.gql

.sonar_lock
report-task.txt
.scannerwork

.dist/
.webpack/

.dccache
**/.DS_Store

.npmrc
.yarnrc

.serverless/
